.App{
    background-image: url("https://i.imgur.com/G59jKlU.jpg");
    background-size:contain;
}

.nav-item a{
    color: white;
    font-size: 25px;
}

#CarouselApi .CarouselItem{
    color:white;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}

#CarouselApi img{
    width: 40%;
    
}

#CarouselApi .ItemInfo h1{
    margin-bottom: 55px;
    font-size: 50px;
}

#CarouselApi .ItemInfo ul{
    font-size: 20px;
}

.carousel .carousel-indicators{
    display: none;
}

.Login{
    text-align: center;
    color: white;
}

.Login .form-control{
    margin: 0 auto;
    width: 20%;
    background-color: transparent; 
    color: white; 
}

.Login .btn{
    margin: 15px 25px;
}

#RegisterForm{
    text-align: center;
}

#RegisterForm .modal-content{
    color: white;
    background-color: rgba(0, 0, 0, 0.907);
}

.Footer{
    height: 145px;
    margin-top: 45px;
    color: white;
    overflow: hidden;
    text-align: center;
}

.Icon{
    font-size: 40px;
    margin: 0 20px;
    color: white;
}
